<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUBEO">
			<section name="SMSModule" type="MessageModule.configuration.SMSConfigSection, MessageModule" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<NUBEO>
		<SMSModule sid="PleaseEnterSID" token="PleaseEnterToken" source="SourcePhoneNumber" target="TargetPhoneNumbers" />
	</NUBEO>
</configuration>